


@font-face{
    font-family:'Paytone One';
    src:url("PaytoneOne.ttf")
}
@font-face{
    font-family:'Inter-Bold';
    src:url('Inter-Bold.otf');
}

.root{
    -fx-font-family:"Inter-Bold";
}



